body,
html {
    padding: 0;
    margin: 0;
    border-color: #CCCCCC;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
}
@media only screen and (max-width: 500px) {
    html,body{
        width:100%;
        padding: 0px !important;
        margin:0px !important;
    }
    .publish{
        display: none;
    }
.container{
    padding: 0px;
    margin:0px;
}
    .ql-editor::-webkit-scrollbar {
        width: 0px;
    }
    
    .ql-editor::-webkit-scrollbar-thumb {
        border-radius: 4px;
        height: 6px;
        background: #626262;
        -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
    }
    
    .ql-editor::-webkit-scrollbar {
        height: 6px;
    }
    #editor img{
      width: 100% !important;
      height: auto !important;
    }
    #preview{
      width: 100% !important;
     
    }
    #editor{
        width:100%;
    }
    #header-title {
        height: 19px;
        width: 100%;
      
    }
    .titleDiv {
        width: 100%;
        display: inline-block;
    }
    input.fileInput{
        display: block;
        position: relative;
        margin-top: 108px;
        width: 100%;
        height: 190px;
        cursor: pointer;
        opacity: 0;
    }
    .inputBox {
        font-weight: 500;
        border: 0px;
        width: 100%;
        min-height: 60px;
        height: auto;
        font-size: 32px;
        outline: none;
        overflow: hidden;
        white-space: nowrap;
    }
    #coverphoto{
        width:90%;
        padding: 0px;
        margin: 0px;
    }
    .imgDiv{
     
        padding: 0px;
        margin: 0px;

    }
    h1{
        display: block;
        width:370px;
        padding: 0px;
        margin: 0px;
    }
    .ql-editor{

    }
}

@media screen and (min-width: 500px){

.deleteImg{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-color:#F4F4F4;
   border-radius: 3px;
    display: none;
}

.ql-blank-font {
 
    font-style: normal;
}

.sfixed {
    position: fixed;
    top: 59px;
}

#header {
    width: 100%;
    height: 59px;
    border-bottom: 1px solid #EBEBEB;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    line-height: 59px;
    z-index: 1000;
}

#header-title {
    height: 19px;
    width: 660px;
    margin: 0 auto;
   
}

.titleDiv {
    width: 660px;
    margin: 0 auto;
    display: inline-block;
}

.pageTitle {
    height: 19px;
    line-height: 19.2px;
    width: 48px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 20 0 0;
    color: #333;
    display: inline-block;
    cursor: pointer;
}

.pageSubTitle {
    position: absolute;
    display: inline-block;
    margin-left: 20px;
    width: 200px;
    font-size: 16px;
    font-weight: normal;
    color: #b3b3b3;
}

.fabu {
    display: inline-block;
    position: absolute;
    right: 74px;
    font-size: 16px;
    font-weight: normal;
    line-height: 19.2px;
    height: 32px;
    width: 102px;
    padding: 0px 10px 0px 10px;
}

input.fileInput{
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 108px;
    width: 660px;
    height: 190px;

    cursor: pointer;
    opacity: 0;

}
.pagephoto{
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 108px;
    width: 660px;
    height: auto;
    background-color: #F7F8F9;
    cursor: pointer;
    z-index:0;
    background-size: 100% 100%;  
    
}
#preview{
    display:block;
    max-width: 660px;
    height: auto;
     margin:0 auto;
}

} 
.contain {
    clear:both;
    width: 660px;
    margin: 0 auto;
}
#contain {
 clear:both;
    width: 660px;
    margin-top: 47px;
    margin: 0 auto;
}
.navBar {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.editorWrap {
    width: 50%;
    min-height: 600px;
    margin: 0 auto;
    height: auto;
}
#select {
    border: 0px;
    outline: none;
}
#toolbar {
    width: 660px;
    height: 36px;
    border: 0px;
    border-top: 1px solid #ECECEC;
    line-height: 36px;
    background-color: #FFFFFF;
    z-index: 1000;
}
#toolbarContainer {
    width: 660px;
    height: 36px;
}
.ql-image {
    display: inline-block;
    border-right: 1px solid #ECECEC;
}
.ql-picker-label::before {
    position: absolute;
}
 /* img {
    width: 24px;
    height: 24px;
}  */
.bigText {
    font-size: 26px;
}
.smallText {
    font-size: 22px;
}
.normalText {
    font-size: 18px;
}
.undo {
    width: 14px;
    height: 14px;
    margin-left: 7px;
    margin-bottom: 4px;
    cursor: pointer;
}
.redo {
    width: 14px;
    height: 14px;
    margin-left: 7px;
    cursor: pointer;
    margin-bottom: 4px;
}
.photo {
    position: absolute;
   
}
.camera {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    pointer-events:none;
}
.phototitle {
    display: none;
    pointer-events:none;
}
::-webkit-input-placeholder {
   

    color: #B3B3B3;
}
input:-moz-placeholder {


    color: #B3B3B3;
}
input:-moz-placeholder {
    color: #B3B3B3;
}
input:-ms-input-placeholder {
    color: #B3B3B3;
}
.inputBox {
    font-weight: 500;
    border: 0px;
    width: 660px;
    min-height: 60px;
    height: auto;
    font-size: 32px;
    outline: none;
    overflow: hidden;
    white-space: nowrap;

}
.hr {
    border-bottom: 1px solid #CCCCCC;
}
.article {
    /* margin-top: 6px; */
    border: 0px;
    width: 100%;
    height: auto;
    outline: none;
    font-size: 18px;
}
.view {
    display: inline-block;
    width: 90px;
    height: 30px;
    color: #808080;
    position: absolute;
    right: 150px;
    border: 0px;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
}
.phoneView{
    display: inline-block;
    width:32px;
    height:32px;
    padding-right: 8px;
    border-right:1px solid #F8F8F8;
}
.computerView{
    display: inline-block;
    width:32px;
    height:32px;
    margin-left: 10px;
}
.publish {
    display: inline-block;
    width: 100px;
    height: 30px;
    position: absolute;
    right: 100px;
    border: 0px;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
    color: #808080;
}
a:link {}
a:visited {}
.undo:hover {
    color: #0066CC;
}
button,
select,
img {
    cursor: pointer;
}
#editor {
    line-height: 24px;
    min-height: 500px;
    border: 0px;
    cursor: text;
}
.ql-editor {
    margin: 0;
    padding: 0;
}
#editor {
    margin: 0;
    padding: 0;
}
.ql-editor img {
    min-height: 30px;
    min-width: 60px;
}
.wrap{
    
}
.reUpImg{
    width:32px;
    height:32px;
    display: block;
    margin: 0 auto;
}
.ql-editor::-webkit-scrollbar {
    width: 10px;
}

.ql-editor::-webkit-scrollbar-thumb {
    border-radius: 4px;
    height: 6px;
    background: #626262;
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

.ql-editor::-webkit-scrollbar {
    height: 6px;
}
}